@mixin btn{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@mixin link {
    text: {
        align: center;
        transform: uppercase;
        decoration: none;
    }
    font-weight: none;
}
@mixin centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin standard-text-content{
    font: {
        size: 20px;
        weight:bold;
    }
}
